.Tag {
  padding: 0.35rem 0.8rem 0.35rem 0.8rem;
  margin: 0.35rem;
  background-color: rgba(100, 0, 255, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
}
