.PostViewMain {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}
.PostViewMain__writer {
  display: flex;
  align-items: center;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 0.88rem;
  // background-color: rgba(0, 50, 100, 0.03);
  // border-top: 1px solid rgba(0, 0, 0, 0.05);
  // border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  // box-shadow: 0 0 3px rgba(0, 0, 0, 0.04);
}
.profileImageWrap {
  flex: 0 0 3.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.7rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}
.profileSection {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  margin-left: 0.7rem;
}
.profileName {
  margin-bottom: 0.15rem;
}
.profileIntro {
  color: rgba(0, 0, 200, 0.8);
}
.PostViewMain__head {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 1.7rem;
  margin-top: 1rem;
  border-bottom: 1px solid rgba(0, 0, 50, 0.13);
}
.PostViewMain__head__title {
  font-size: 2.5rem;
  font-weight: 500;
}
.PostViewMain__head__regdate {
  font-size: 1.17rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.55);
}
.PostViewMain__head__like {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  border: 1px solid rgba(50, 0, 255, 0.1);
  background-color: rgba(50, 0, 255, 0.7);
  border-radius: 20rem;
  font-size: 0.85rem;
  font-weight: 300;
  color: white;
  span {
    transform: translateY(-1px);
  }
}
.active {
}
.heartIcon {
  margin-right: 0.7rem;
}
.PostViewMain__content {
  margin-top: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.1rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.75rem;
}
