@import "utils";

.Post {
  position: relative;
  min-width: 15rem;
  margin: 0.875rem;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04);

  @include media("<huge") {
    width: calc(25% - 1.75rem);
  }
  @include media("<large") {
    width: calc(33.3333% - 1.75rem);
  }
  @include media("<medium") {
    width: calc(50% - 1.75rem);
  }
  @include media("<small") {
    width: 100%;
  }
  // @media (max-width: 2000px) {
  //   width: calc(25% - 1.75rem);
  //   @media (max-width: 1700px) {
  //     width: calc(33.3333% - 1.75rem);
  //     @media (max-width: 1200px) {
  //       width: calc(50% - 1.75rem);
  //       @media (max-width: 1020px) {
  //         width: 100%;
  //       }
  //     }
  //   }
  // }
}
.Post_top {
  position: relative;
  padding-top: 50%;
}
.Post__thumbnail {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: rgba(0, 0, 150, 0.07);
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}
.Post__thumbnail__img {
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}
.whiteSpace {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  transition: all 0.25s ease;

  &:hover {
    background-color: rgba(255, 255, 255, 0.15);
  }
}
.Post__wrapper {
  position: relative;
  box-shadow: 0px -4px 16px rgba(0, 0, 0, 0.05);
  background-color: white;
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}
.Post__head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 8rem;
  padding-top: 1.5rem;
  margin-left: 1.3rem;
  margin-right: 1.3rem;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.Post__head__profile {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 1rem;
  width: 3.5rem;
  background-color: darkgray;
  border: 0.35rem solid white;
  border-radius: 50%;
  transform: translateY(-50%);
  box-shadow: 0px -4px 16px rgba(0, 0, 0, 0.06);
  z-index: 10;

  .profileWrapper {
    //padding: 0.4rem;
    width: 100%;
    border-radius: 50%;
    //background-color: rgba(0, 150, 0, 0.15);
  }
}
.Post__content {
  display: flex;
  height: 7rem;
  flex-direction: column;
  padding-top: 1rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  word-break: break-all;
}
.Post__head__name {
  color: $oc-indigo-6;
  font-weight: 500;
}
.Post__head__title {
  align-self: stretch;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 0.4rem;
}
.Post__head__regdate {
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.9rem;
  padding-bottom: 1.3rem;
}
