.MainHead {
  padding: 1.75rem;
  margin-bottom: 0.2rem;
}
.MainHead__notLogIn {
  display: flex;
  justify-content: flex-end;
}
.MainHead__notLogIn__loginButton {
  font-size: 18px;
}
.MainHead__logIn {
}
.MainHead__profileImage {
}
.MainHead__settings {
}
