.MainHead {
  width: 100%;
  padding: 1.75rem;
  margin-bottom: 0.2rem;
}
.MainHead__notLogIn {
  display: flex;
  justify-content: space-between;
}
.MainHead__notLogIn__loginButton {
  font-size: 18px;
}
.MainHead__logIn {
}
.MainHead__profileImage {
}
.MainHead__settings {
}
.btn_writePost {
  background-color: rgba(0, 50, 200, 0.55);
  font-weight: 400;
  color: white;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.2rem;
}
