.previewArea {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  padding: 1.5rem;
  background-color: rgba(0, 0, 100, 0.05);
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}
.previewArea__title {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  font-weight: 600;
  font-size: 3rem;
  padding-left: 0.5rem;
  padding-bottom: 0.8rem;
  color: rgba(0, 0, 60, 0.9);
  border-bottom: 1px solid rgba(0, 0, 100, 0.25);
  word-break: break-word;
}
.previewArea__content {
  flex: 1 0 auto;
  padding: 0.2rem;
  padding-top: 1rem;
  font-size: 1.3rem;
  font-weight: 400;
  word-break: break-word;

  img {
    width: 100%;
    object-fit: contain;
  }
}
