@import "utils";

.writeFormArea {
  display: flex;
  flex-direction: column;
  flex: 1.2 0 0;
  background-color: rgba(0, 0, 0, 0.88);
  color: rgba(235, 240, 255, 0.95);
  padding: 1.5rem;
}
.writeFormArea__content {
  flex: 1 0 0;
  font-family: "Noto Sans Kr";
  font-size: 1.45rem;
  font-weight: 400;
  line-height: 2.1rem;
  color: $oc-lime-4;
  border: 0;
  background-color: transparent;
  resize: none;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
  &:focus {
    outline: none;
  }
}
.writeFormArea__footer {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}
.writeFormArea__footer__btnUpload {
  &:hover {
    cursor: pointer;
  }
}
#upload_thumnail {
  display: none;
}
