.PostWriterTemplate {
  width: 100%;
  height: 100%;
}
.PostWriterSection {
  display: flex;
  height: 100%;
  align-items: stretch;
}
.writeFormArea {
  display: flex;
  flex-direction: column;
  flex: 1.2 0 0;
  background-color: rgba(0, 20, 30, 0.85);
  color: rgba(235, 240, 255, 0.95);
  padding: 1.5rem;
}
.writeFormArea__title {
  font-family: "Noto Sans KR";
  flex: 0.5 0 0;
  padding-left: 0.3rem;
  color: rgba(230, 250, 255, 1);
  font-size: 2rem;
  font-weight: 500;
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 255, 200, 0.9);
  &:focus {
    outline: none;
  }
}
.writeFormArea__content {
  flex: 6 0 0;
  font-family: D2 Coding;
  font-size: 1.1rem;
  color: skyblue;
  padding-top: 1rem;
  border: 0;
  background-color: transparent;
  &:focus {
    outline: none;
  }
}
.previewArea {
  flex: 1 0 0;
  padding: 1.5rem;
  background-color: white;
}
