@import "utils";

.RecentTemplate {
  width: 100%;
  padding-left: 0.875rem;
  padding-right: 0.875rem;
  position: relative;

  @include media("<small") {
    padding: 0;
  }
}
.RecentSection h2 {
  margin-left: 0.875rem;
  margin-bottom: 0.4rem;
}
.RecentPosts {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}
